@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Overpass:wght@400;700&family=Roboto:wght@300;400;500;700&family=Sora:wght@100;200;300;400;500;600&display=swap');

:root{
    --White:(0, 0%, 100%)
    --LightGrey:(217, 12%, 63%)
    --MediumGrey:(216, 12%, 54%)
    --DarkBlue:(213, 19%, 18%)
    --VeryDarkBlue:(216, 12%, 8%)
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.feedback{
    display:none;
    color:rgb(174, 178, 182);    
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    padding: 20px;
    background: linear-gradient(to right, #3b3c3d, #0c0f11);
    border-radius: 20px;
   
}
.star{
    background: rgb(68, 65, 65);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 9px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.header{
    color:#f0f8ff;
    margin-top: 20px;
    font-family: "Overpass", sans-serif;
}
.decription{
    color:rgb(174, 178, 182);
    margin-top: 10px;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}
.rating-score{
    display:flex;
    justify-content: center;
    gap: 20px;
}
label {
    display: block; 
    padding: 20px; 
    position: relative; 
    padding-left: 20px;
    cursor: pointer;

}
label input {
    display: none;
    background-color: #3b3c3d;

}
label span {
    
    background-color: rgb(68, 65, 65);
    color: #f0f8ff;
    width: 35px;
    height: 35px;
    position: absolute;
    text-align:center;
    /* border-radius: 100%; */
    font-size: 10pt;
    padding: 9px;
    left: 0;
    margin-top: -7.5px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
input:checked + span {
    background: rgb(243, 122, 9); 
}
button{
    display: block;
    margin: 0 auto;
    width:85%;
   background-color: rgb(243, 122, 9);
   border: none;
   margin-top: 30px;
   left: 0;
   padding: 10px;
   font-size: 15px;
   color: rgb(218, 222, 224);
   font-weight: bold;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    .container{
        left: 35%;
    }
}
